[push]
	  default = matching
[core]
    autocrlf = false
[alias]
    ci = commit
    pg = clean -fxd
    psh = "git push -u origin HEAD"
    co = checkout
    st = status
    br = branch
    hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
    reb = pull --rebase
    ds = diff --staged
    d = diff
[pull]
	  rebase = true
